nav{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0465);
    padding: 2rem;
}

nav > a{
    font:600 1.5rem cursive;
    color: navy;
    text-decoration: none;
    margin: 0 1rem;
}